name: Sync and Sign for Vercel
on:
  push:
    branches:
      - main

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.SYNC_TOKEN }}

      - name: Update Author and Push
        run: |
          # 1. Настройка личности автора для Vercel
          git config --global user.name "tbn01-acc"
          git config --global user.email "tbn01.acc@gmail.com"
          
          # 2. Переподписываем последний коммит, чтобы автором стал tbn01.acc@gmail.com
          # Это решает проблему "Deployment request did not have a git author"
          git commit --amend --no-edit --reset-author
          
          # 3. Добавление целевого репозитория
          git remote add destination https://x-access-token:${{ secrets.SYNC_TOKEN }}@github.com/tbn01-acc/habbitracker.git
          
          # 4. Принудительная отправка обновленного кода
          git push destination main --force
